/* Dashboard */
#livro-atual-card {
  background: var(--bg-card);
  border-radius: var(--radius);
}
#livro-atual-capa img {
  width: 50px;
  height: 70px;
  object-fit: cover;
  border-radius: 4px;
}
.card .fa-2x {
  opacity: 0.8;
}
.text-orange {
  color: #f97316;
}
#livro-atual-card {
  background: var(--primary-light);
  border-left: 4px solid var(--primary);
}
#livro-atual-titulo {
  font-weight: 700;
  font-size: 1.2rem;
}

.card h3 {
  font-weight: 700;
  font-size: 1.5rem;
}
